html {
  background-color: rgb(20, 20, 20);
}

#mainCanvas {
  background-color: rgb(255, 255, 255);
}

.buttonRow {
  margin-top: 10px;
}

p {
  color: silver;
  font-family: sans-serif;
}

#selectedVertex {
  display: none;
}
